[submodule "ghostty"]
	path = ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-coterm"]
	path = homebrew-coterm
	url = https://github.com/manaflow-ai/homebrew-cmux.git
